.lycoris-dialog {
  border: 0;
  border-radius: 3px;
  box-shadow: 0 0 15px #666;
}

.lycoris-dialog img {
  max-width: 90vw;
  max-height: 90vh;
  object-fit: contain;
}

.lycoris-filename {
  display: inline-block;
  cursor: pointer;
  color: #00c;
  font-size: 120%;
  font-weight: normal;
  padding: .3em 0 .4em;
}